################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Teste-Automacao/obj/Debug
/Teste-Automacao/bin/Debug
/Automacao/obj/Debug
/Automacao/bin/Debug
/.vs
/packages
